<footer class=" footer mt-auto text-center text-lg-start bg-dark text-muted  ">

    <div class="text-center p-3 bg-dark" >
        <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
     
      <div class=" d-none d-lg-block text-white">
        <span>Get connected with us on social networks:</span>
        
      </div>
      <div>
       
        <a href="https://www.linkedin.com/in/oussama-chihaoui-385766252/" class="me-4 link-secondary text-white">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/oussamachihaoui" class="me-4 link-secondary text-white">
          <i class="fab fa-github"></i>
        </a>
      </div>
      
    </section>
    <div class="pt-3">
    <span >&copy;Tcamp 2022</span>
    </div>
  </footer>
  

